/* general styling */
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* styling af header nav */
.nav-link {
  font-family: "Calistoga", serif;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s;
}
.nav-link:hover {
  color: #5fdd9d;
  transition: 0.3s;
}
/* styling af footer */
footer {
  background-color: #5fdd9d;
  color: white;
  font-family: "Arya", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
/* styling af body */
main {
  margin: auto;
  max-width: 1300px;
  min-height: 100%;
  /* background-color: rgb(249, 249, 249); */
}
body {
  /* background-color: rgb(249, 249, 249); */
}
/* styling af tekst */
h1 {
  font-family: "Calistoga", serif;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
}
