/* general styling */
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
iframe {
  width: 100%;
  align-content: baseline;
  height: auto;
  aspect-ratio: 16 / 9;
  background-color: black;
}
/* margin preset */
.margin-top {
  margin-top: 30px;
}
.margin-left {
  margin-left: 60px;
}
.margin-right {
  margin-right: 60px;
}
/* styling af billedetekst */
.figur_tekst {
  padding-left: 10px;
}
/* styling af header nav */
.nav-link {
  font-family: "Calistoga", serif;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s;
}
.nav-link:hover {
  color: #5fdd9d;
  transition: 0.3s;
}
/* styling af footer */
footer {
  background-color: #5fdd9d;
  color: white;
  font-family: "Arya", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0rem 3rem;
}
/* styling af body */
main {
  margin: auto;
  max-width: 1300px;
  min-height: 100%;
  /* background-color: rgb(249, 249, 249); */
}
/* styling af tekst */
h1 {
  font-family: "Calistoga", serif;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
}
h2 {
  font-family: "Calistoga", serif;
  font-size: 2rem;

  margin-top: 30px;
}
p {
  font-family: "Arya", sans-serif;
  font-size: 1.3rem;
  line-height: 25px;
}

/* styling af tekst m. classes */
/* .intro {
} */

/* styling af variationssegmenter */
.bluepage {
  background-color: #99beda;
  padding: 20px;
  & p {
    color: white;
  }
  /* & .bluepage h2 {
    color: white;
  } */
}
.col-style {
  padding: 20px;
  background-color: #f3f2fa;
}
.sprite-skala {
  width: auto;
  height: 18rem;
}
.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.grid_1_2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.boxes_left {
  color: #5fdd9d;
  background-color: #5fdd9d;
  padding: 40px;
  border-radius: 50px;
}
.boxes_right {
  color: #5fdd9d;
  background-color: #5fdd9d;
  padding: 10px 65px;
  border-radius: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
a {
  color: #ff6d40;
}
a:hover {
  color: #ff8b68;
}

.pfp {
  background-image: url(../images/profil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}
.boxes_right h2 {
  color: white;
}
.boxes_right p {
  color: white;
}
.gap-ommig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.gap {
  gap: 80px;
}
/* styling af portfolieside */
.portfolie {
  padding: 0px 250px;
}
.portfolie div a {
  text-align: center;
  text-decoration: none;
}
.card-menu:hover {
  transform: scale(0.95);
}
.black h2 {
  color: black;
}
.black p {
  color: black;
}
.blue h2 {
  color: #99beda;
}
.blue p {
  color: #99beda;
}
.green h2 {
  color: #5fdd9d;
}
.green p {
  color: #5fdd9d;
}
.orange h2 {
  color: #ff6d40;
}
.orange p {
  color: #ff6d40;
}
@media screen and (max-width: 850px) {
  footer {
    padding: 0rem 1rem;
    font-size: 10px;
  }
  .grid_forside {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .g3 {
    display: block;
    height: auto;
    width: 70%;
    justify-self: end;
    padding: 60px 60px;
  }
  .forside_tekst {
    position: relative;
    top: 0%;
    right: 0%;
    padding: 10px 10px;
    line-height: 15px;
  }
  .forside_tekst h1 {
    font-size: 3rem;
  }
  .forside_tekst h2 {
    font-size: 1.5rem;
  }
  .portfolie {
    padding: 0px 100px;
  }
  .portfolie div a {
    text-align: center;
    text-decoration: none;
  }
  .card-menu {
    padding-top: 40px;
  }
  .card-menu p {
    font-family: "Arya", sans-serif;
    font-size: 1.3rem;
    line-height: 25px;
  }
  .card-menu h2 {
    font-family: "Calistoga", serif;
    font-size: 2rem;
    margin-top: 0px;
  }
  .grid_1_1 {
    display: block;
  }
  .margin-left {
    margin: 20px;
  }
  .margin-right {
    margin: 20px;
  }
  p {
    font-size: 1.2rem;
    padding: 15px;
    line-height: 22px;
  }
  h2 {
    font-size: 1.8rem;
    padding: 15px;
  }
  .margin-top {
    margin-top: 10px;
  }
  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .order {
    order: -1;
  }
}
